/* General styles */

.module > a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
candy-card + candy-card {
  margin-top: 15px;
}

candy-card {
  max-width: 100%;
}

form {
  margin: 15px;
}

form candy-button {
  float: right;
  margin-top: 15px;
}
